<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Main Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="header">
      <h1>HYDRATE</h1>
      <p></p>
    </div>
    
    <div class="navbar">
      <a href="/" class="active">Home</a>
      <a href="/register">register</a>
      <a href="/add">add</a>
      <a href="/logout">logout</a>
      <a href="/activity">activity</a>
      <a href="/index">index</a>
    </div>
    
    <div class="row">
      <div class="side">
        <h2>Water is required for life.</h2>
        
        
        <p>Drinking enough water every day is good for overall health. As plain drinking water has zero calories, it can also help with managing body weight and reducing caloric intake when substituted for drinks with calories, like regular soda. Drinking water can prevent dehydration, a condition that can cause unclear thinking, result in mood change, cause your body to overheat, constipation, and kidney stones.</p>
        <div class="fakeimg" style="height:200px;">
        
        <p><b>DESCRIBE YOUR APP</b></p>

        <p><b>HYDRATE WEB APP!</b></p>
        <ul>
          <li>
            This web app "HYDRATE" is used to track your own water intake
          </li>
          <li>
            by just inputting your weight,this app can calculate how much water you need to drink today
          </li>
          <li>
            it supports many functionalities.you can use the add page to input any entry of how much water you drank
          </li>
          <li>
            it also adjusts your required water if you burn any extra calories in activities like exercise,sports etc
          </li>
          <li>
            the web app automatically updates each day all the while keeping track of your past activites and entries and displaying it
          </li>
        </ul>

            
        
       
      </div>
     
    
    
    
    </body>
    </html>
    