{% extends "base.html" %}
{% block title%} register
{%endblock%}

{%block main%}
<h3 style="text-align: center;">register:</h3>
<form action="/register" method="POST" aria-autocomplete="none" autocomplete="off">
    <div class="form-group">
        <label for="exampleInputEmail1">Username:</label>
        <input type="text"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="name">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">password:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="password">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Confirm:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="confirm" placeholder="confirm">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Weight:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="weight" placeholder="weight(in lbs)">
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit">
    </div>
</form>
{%endblock%}